name: Tests
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        ruby: ['3.1', '3.2', '3.3', '3.4']
        rails: ['7.2', '8.0', 'edge']
        middleware: ['false', 'true']
        exclude:
          - ruby: '3.1'
            rails: '8.0'
          - ruby: '3.1'
            rails: 'edge'
      fail-fast: false

    env:
      RAILS_VERSION: ${{ matrix.rails }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Test rails
        run: |
          bundle exec rails -v

      - name: Setup smtp_mock for ruby
        run: |
          bundle exec smtp_mock -i ~

      - name: Test smtp_mock for ruby
        run: |
          bundle exec smtp_mock --version

      - name: Run tests
        env:
          MIDDLEWARE: ${{ matrix.middleware }}
          RAILS_ENV: test
        run: bundle exec rake
